.left-section {
    float: left;
    width: 50%;
    margin-top: 20px;
}

.first {
    margin-top: 10px;
}
.second {
    margin-top: 100px;
}

table {
    margin: 20px;
}

table, tr, th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

.right-section {
    display: grid;
    float: right;
    width: 30%;
    margin-right: 40px;
}

button {
    background-color: rgb(180, 175, 175);
    color: black;
}