.second {
    margin-top: 50px;
}
.first {
    margin-top: 10px;
}

table {
    margin: 50px;
    /* align-items: center; */
    padding: 10px;
    /* border: 1px solid black; */
}

table, tr, th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}