<div class="container">
  <div class="block">
    <div class="row">
      <div class="col-sm-4">
        <label for="key">Key</label>
        <input type="text" id="key" name="key">
      </div>
      <div class="col-sm-4">
        <label for="value">Value</label>
        <input type="text" id="value" name="value">
      </div>
      <div class="col-sm-3">
        <button type="submit" value="submit" class="but" (click)="onAdd()">Add</button>
      </div>
    </div>

    <div class="row1">
      <div class="col-sm-4">
        <label for="key">Key1</label>
        <input type="text" id="key" name="key">
      </div>
      <div class="col-sm-4">
        <label for="value">Key2</label>
        <input type="text" id="value" name="value">
      </div>
      <div class="col-sm-3">
        <button type="submit" value="submit" class="but">Concat</button>
      </div>
    </div>
  </div>
  <div class="row2">
    <div>
      <table border="1px solid black">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <td>1</td>
            <td>ABC</td>
            <button>edit</button> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>